.modal {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  overflow-y: auto;
  @apply flex fixed items-center justify-center  left-0 top-0 right-0 bottom-0 md:p-4;
}
.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}
.modal.exit {
  opacity: 0;
}
.modal-content {
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  min-height: auto;
  border-radius: 6px;
  @apply md:min-h-0  bg-white w-full p-6 mx-auto;
}
.modal.enter-done .modal-content {
  transform: translateY(0);
}
.modal.exit .modal-content {
  transform: translateY(-100%);
}
.modal-header,
.modal-footer {
  padding: 10px;
}
.modal-title {
  margin: 0;
}